@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* logo container */
@media screen and (max-width: 410px) {
  .logo-container h3 {
    font-size: 18px;
  }
}

/* post */
.post-content p {
  @apply my-4;
}

.post-content figure img {
  @apply rounded-lg w-full;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  @apply text-3xl mt-10;
}