@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Host Grotesk';
  src: url('/Host_Grotesk/Host_Grotesk/static/HostGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk Medium';
  src: url('/Host_Grotesk/Host_Grotesk/static/HostGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk SemiBold';
  src: url('/Host_Grotesk/Host_Grotesk/static/HostGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk Bold';
  src: url('/Host_Grotesk/Host_Grotesk/static/HostGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk ExtraBold';
  src: url('/Host_Grotesk/Host_Grotesk/static/HostGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Host Grotesk', sans-serif;
  scroll-behavior: smooth;
}

/* logo container */
@media screen and (max-width: 410px) {
  .logo-container h3 {
    font-size: 18px;
  }
}

/* post */
.post-content p {
  @apply my-4 text-wrap;
}

.post-content figure img {
  @apply rounded-lg w-full;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply text-3xl mt-10;
}

.post-content pre,
.post-content blockquote,
.post-content em {
  @apply text-wrap;
}